<?php

$finder = PhpCsFixer\Finder::create()
  ->in(__DIR__.'/lib/')
;

return PhpCsFixer\Config::create()
  ->setRules(array(
      '@PSR1' => true,
      '@PSR2' => true,
      'simplified_null_return' => false
  ))
  ->setFinder($finder)
;

?>
