<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Ini tools">
      <file>IniModifierTest.php</file>
      <file>IniModifierSetTest.php</file>
      <file>IniModifierGetTest.php</file>
      <file>IniModifierRemoveTest.php</file>
      <file>IniModifierRenameTest.php</file>
      <file>IniModifierImportTest.php</file>
      <file>MultiIniModifierTest.php</file>
      <file>IniModifierArrayTest.php</file>
      <file>mergeIniObjectTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
