<?xml version="1.0"?>
<phpunit>
  <testsuites>
    <testsuite name="Ini tools">
      <file>IniModifierTest.php</file>
      <file>IniModifierSetTest.php</file>
      <file>IniModifierGetTest.php</file>
      <file>IniModifierRemoveTest.php</file>
      <file>IniModifierRenameTest.php</file>
      <file>IniModifierImportTest.php</file>
      <file>MultiIniModifierTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
